@font-face {
    font-family: 'Wotfard';
    src: url('/Font Folder/Wotfard_Regular/Wotfard_Regular_Webfont/Wotfard-Regular-webfont/wotfard-regular-webfont.ttf');
}

@font-face {
    font-family: 'Work Sans';
    src: url('/Font Folder/Work_Sans/static/WorkSans-Medium.ttf');
}

@font-face {
    font-family: 'Calibre';
    src: url('/Font Folder/Test Calibre/test-calibre-semibold.woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

body {
    font-family: 'Work Sans';
    background-color: #24252A;
    color: #edf0f1;
}

h1 {
    font-family: 'Calibre', sans-serif;
    font-size: 80px;
}


}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

nav img {
    padding-top: 0.7rem;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
    margin: 0 2vw;
    padding: 0;
    display: inline-block;
}

a{
    text-decoration: none;
    color:#c7cad8;
}

a:hover{
    color: white;
    transition: color .2s;
}

.navlinks {
    padding: 0px 20px;
    font-size: 1.1rem;
}


main {
    display: grid;
    padding: 10px 5%;
    grid-template-rows: 60% 60% 40%;
    align-items: center;
}

.landing_page {
    
}

.name {
    font-size: 100px;
    color: #c7cad8;
    padding: 0.3rem 0;
    margin: 0;
}

.intro {
    color: #a16aff;
    font-size: 1.25rem;
}

.subheader {
    margin: 0;
    padding-bottom: 0.3rem;
    color: #787c8b;
    font-size: 3rem;
}

.pers__statement {
    width: 40%;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    line-height: 1.4;
    color: #787c8b;
    padding-bottom: 1rem;
}

.contact {
	background-color:transparent;
	border-radius:6px;
	border:2px solid #a16aff;
	display:inline-block;
	cursor:pointer;
	color:#a16aff;
	font-family:'Work Sans', sans-serif;
	font-size:1.1rem;
	padding:1.5rem 1.5rem;
	text-decoration:none;
}
.contact:hover {
	background-color:#a16aff4b;
    border:2px solid #a16aff;
    transition: background-color 0.2s;

}
.contact:active {
	position:relative;
	top:1px;
}

.contact:hover span{
    display: block;
  }

.about_me h1 {
      color: #c7cad8;
      padding: 0.3rem;
      text-decoration: underline;
      text-decoration-color:#a16aff;
      text-underline-offset: 8px;
  }

.about_me p {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    width: 40%;
}

.skills {
    padding-bottom: 10rem;
    width: 90%;
}

.skills h1{
    color: #c7cad8;
    text-decoration: underline;
    text-decoration-color:#a16aff;
    text-underline-offset: 8px;
    margin-bottom: 1.3rem;
}

.skills p {
    margin-bottom: 5rem;
}

.p_icons{
    display: inline-flex;
    justify-content: space-evenly;
    margin: 0;
}

.js_logo, .js_logo, .react_logo, .html_logo{
    padding: 0 2rem;
}

.python_logo{
    padding-top: 0;
    padding-left: 0;
    padding-right: 2rem;
}